---
import Intro from "../components/Intro.astro";
import MyWork from "../components/MyWork.astro";
import Main from "../layouts/Main.astro"
import Footer from "../layouts/Footer.astro";
---

<Main>
	<Intro/>
	<MyWork/>
	<Footer/>
</Main>