<section class="max-w-6xl py-20 md:py-40 mx-auto">
  <h1 class="text-3xl md:text-6xl font-bold text-center">About Me</h1>
  <p class="text-center my-10">
    <span class="text-2xl font-medium">Hey there!</span>
    <span class="text-xl">
      A tech aficionado deeply immersed in programming and technology. Here you
      can learn about my current skills.
    </span>
  </p>
  <div class="py-5 flex">
    <div class="w-1/2">
      <p class="pb-5 text-2xl font-semibold">Get to know me!</p>
      <p class="text-xl">
        I'm a passionate front-end developer dedicated to crafting engaging and
        user-friendly web experiences. With a keen eye for design and a love for
        clean, efficient code, I specialize in bringing concepts to life through
        HTML, CSS, and JavaScript. Whether it's creating responsive layouts or
        optimizing performance, I'm driven by the challenge of turning ideas
        into reality. Let's collaborate and build something amazing together on <a
          href="https://www.linkedin.com/in/shristi-gupta-b496191b4/"
          >LinkedIn</a
        >!
      </p>
    </div>
    <div class="w-1/2"></div>
  </div>
</section>
