<header class="bg-gray-200 fixed w-full z-20 h-16 md:h-20">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between gap-x-6 px-6 py-4 md:py-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="/" class="-m-2 p-1.5">
        <span class="sr-only">Shristi Gupta</span>
        <img class="h-10 w-auto" src="/icons/s-icon.png" alt="" />
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-24">
      <a
        href="/"
        class="text-lg font-semibold leading-6 text-gray-900 uppercase">home</a
      >
      <a
        href="#about-me"
        class="text-lg font-semibold leading-6 text-gray-900 uppercase">About</a
      >
      <a
        href="#my-work"
        class="text-lg font-semibold leading-6 text-gray-900 uppercase">Work</a
      >
      <a
        href="#contact"
        class="text-lg font-semibold leading-6 text-gray-900 uppercase"
        >Contact</a
      >
    </div>

    <div class="flex lg:hidden" id="open-btn">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
  </nav>
  <div class="lg:hidden header" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10 bg-black/60"></div>
    <div
      class="h-fit fixed inset-y-0 right-0 z-20 w-full overflow-y-auto bg-gray-100 px-6 py-4 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex justify-between">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Shristi Gupta</span>
          <img class="h-10 w-auto" src="/icons/s-icon.png" alt="" />
        </a>
        <button
          id="close-btn"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              href="/"
              class="home -mx-3 block rounded-lg px-3 py-2 text-base uppercase font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Home</a
            >
            <div class="w-full h-px bg-black"></div>
            <a
              href="#about-me"
              class="about-me -mx-3 block rounded-lg px-3 py-2 text-base uppercase font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >About</a
            >
            <div class="w-full h-px bg-black"></div>
            <a
              href="#my-work"
              class="work -mx-3 block rounded-lg px-3 py-2 text-base uppercase font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Work</a
            >
            <div class="w-full h-px bg-black"></div>
            <a
              href="#contact"
              class="contact -mx-3 block rounded-lg px-3 py-2 uppercase text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Contact</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
  const closeBtn = document.getElementById("close-btn");
  const header = document.querySelector(".header");
  hide();
  closeBtn.addEventListener("click", () => {
    hide();
  });
  const openBtn = document.getElementById("open-btn");
  openBtn.addEventListener("click", () => {
    show();
  });

  document.querySelector(".about-me").addEventListener("click", () => {
    hide();
  });
  document.querySelector(".work").addEventListener("click", () => {
    hide();
  });
  document.querySelector(".contact").addEventListener("click", () => {
    hide();
  });

  function hide() {
    header.style.display = "none";
    document.querySelector("body").style.overflow = "";
  }

  function show() {
    header.style.display = "";
    document.querySelector("body").style.overflow = "hidden";
  }
</script>
