<section class=" bg-[url(../images/wavy-6.svg)] bg-cover  ">
    <div class="flex z-10 w-full h-auto  max-w-6xl mx-auto pt-40 pb-20">
        <div class="w-3/5  te xt-white">
            <h1 class=" text-6xl font-semibold">Frontend Developer.</h1>
            <p class="pt-2 text-xl">As an entry-level frontend developer, I'm eager to contribute my skills in HTML, CSS, and JavaScript to craft visually appealing and user-friendly websites.</p>
        </div>
        <div>
           <figure>
                <img src="../images/formal-pic.jpg" class="w-80 h-96 object-cover"/>
            </figure> 
        </div>
    </div>
</section>