<section class=" md:bg-[url(../images/wavy-6.svg)] bg-cover  ">
    <div class="flex flex-col md:flex-row px-4 z-10 w-full h-auto  max-w-6xl mx-auto pt-10 md:pt-40 pb-20">
        <div class="md:w-3/5 ">
            <p class=" text-3xl md:text-6xl font-semibold"> Hey, I'm Shristi Gupta</p>
            <h1 class=" text-xl md:text-4xl font-semibold pt-2 md:pt-6">Frontend Developer.</h1>
            <p class="pt-2 md:pt-6 text-base md:text-xl">As an entry-level frontend developer, I'm eager to contribute my skills in HTML, CSS, and JavaScript to craft visually appealing and user-friendly websites.</p>
        </div>
        <div  class=" flex pt-10 md:pt-0 items-center justify-center md:justify-start">
           <figure class="relative">
                <img src="../images/formal-pic.jpg" class="relative z-10 w-48 h-56 md:w-80 md:h-96 object-cover"/>
                <div class=" bg-white absolute top-5 left-5 z-0 border-4 border-[#BF92FB] b order-slate-500 w-48 h-56 md:w-80 md:h-96"></div>
            </figure> 
        </div>
    </div>
</section>