---
import WorkCard from "../layouts/WorkCard.astro";
---

<section class="max-w-6xl pt-20 mx-auto">
    <h1 class="text-3xl md:text-6xl font-bold text-center">My Work</h1>
    <div class="py-12 grid md:grid-cols-2 gap-4 md:gap-9 max-w-6xl mx-auto px-4 xl:px-0">
        <WorkCard heading="Text Utility Application" imgSrc="../images/text-utility.png" content="Simplify text tasks using a responsive React.js text utility application." href="https://shristi-gupta21.github.io/TextUtilityApp/" border="border-indigo-500"/>
        <WorkCard heading="GyanDhan Website" imgSrc="../images/gyandhan-home.png" content="Doing a full frontend revamp of user-facing application." href="https://astro-gyandhan.vercel.app/" border="border-[#81C042]"/>
        <WorkCard heading="Online parking Application" imgSrc="../images/online-parking.png" content="An intuitive online parking app, crafted with React, Redux, and CSS, simplifying parking spot booking and management." href="https://online-parking.vercel.app/" border="border-[#e79d49]"/>
        <WorkCard heading="Clay Website" imgSrc="../images/clay-clone.png" content="A Vite-powered React website, styled with Tailwind CSS, that closely mimics the appearance and functionality of an existing site, offering a responsive and streamlined user experience." href="https://clay-clone.vercel.app/" border="border-[#3c82ec]"/>
    </div>
</section>