::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    orange,
    rgb(226, 106, 126),
    purple
  );
  border-radius: 10px;
}
