<footer id="contact" class="w-full bg-gray-200">
  <div
    class="flex flex-col gap-y-8 pt-8 pb-4 md:pb-20 md:pt-32 max-w-6xl mx-auto px-4 xl:px-0"
  >
    <div
      class="flex flex-col md:flex-row gap-y-5 md:gap-y-0 justify-between md:pb-20"
    >
      <div class="md:w-1/2">
        <p class="text-xl md:text-2xl font-semibold uppercase">Shristi Gupta</p>
        <p class="pt-4 text-sm md:text-base">
          As an entry-level frontend developer, I'm eager to contribute my
          skills in HTML, CSS, and JavaScript to craft visually appealing and
          user-friendly websites.
        </p>
      </div>
      <div>
        <p class="font-semibold text-xl md:text-2xl uppercase">Social</p>
        <div class="flex gap-4 md:gap-6 items-center pt-5">
          <a
            href="https://www.linkedin.com/in/shristi-gupta-b496191b4/"
            target="_blank"
            ><img
              src="/icons/linkedin.png"
              class="h-10 w-10 md:h-12 md:w-12"
            /></a
          >
          <a href="https://www.instagram.com/shristi._gupta._/" target="_blank"
            ><img
              src="/icons/instagram.webp"
              class="h-10 w-10 md:h-12 md:w-12"
            /></a
          >
          <a href="https://github.com/shristi-gupta21" target="_blank"
            ><img
              src="/icons/github.png"
              class="h-10 w-10 md:h-12 md:w-12"
            /></a
          >
        </div>
      </div>
    </div>
    <div class="w-full h-0.5 bg-black"></div>
    <div
      class="flex justify-center pb-5 md:pb-0 md:pt-5 gap-1 font-bold text-sm"
    >
      <span>© 2024. Made by</span>
      <a href="/" class="underline"> Shristi Gupta</a>
    </div>
  </div>
</footer>
