---
const { imageName, heading } = Astro.props;
---

<div class="flex items-center justify-center">
  <img src=`/icons/${imageName}` alt="" class="h-12" />
  <span class="font-bold text-3xl text-gray-800">{heading}</span>
</div>
