---
const { imageName, heading } = Astro.props;
---

<div class="flex items-center justify-center gap-2">
  <img src=`/icons/${imageName}` alt="" class="h-8 md:h-12" />
  <span class="font-bold text-lg md:text-[28px] text-gray-800">{heading}</span>
</div>
