---
const { title, color } = Astro.props;
let bgColor = "";
let textColor = "text-black";
switch (color) {
  case "green":
    bgColor = "bg-green-200";
    break;
  case "blue":
    bgColor = "bg-blue-350";
    break;
  case "gray":
    bgColor = "bg-gray-300";
    break;
  case "purple":
    bgColor = "bg-purple-400";
    textColor = "text-white";
    break;
  case "orange":
    bgColor = "bg-orange-200";
    break;
  case "indigo":
    bgColor = "bg-indigo-500";
    break;
  default:
    bgColor = "bg-gray-200";
}
---

<div
  class={`text-xs md:text-sm shrink-0 font-medium py-1 px-3 border shadow rounded-full ${bgColor} ${textColor} `}
>
  {title}
</div>
